.cta {
	// display: block;
	background-image: url("../assets/banner.png") !important;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

	width: 100%;
	height: 100%;

	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.right {
		padding-left: 2rem;
		background-image: url("../assets/ctaImage.webp") !important;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
		min-height: 50vh;
}
.left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.text {
	// line-height: 2rem;
	font-size: 1.5rem !important;

}
.listItem {
	line-height: 2.5rem;
	font-size: 1.3rem !important;

}
.list {
	margin-left: 1rem;
	margin-bottom: 1rem;
}
.title {
	font-size: 2rem !important;
	color: white !important;
}
@media (max-width: 576px) {
	.cta {

		padding-left: 1rem;
		padding-right: 1rem;
	}
	.right {
		padding-left: 2rem;
		background-image: url("../assets/ctaImage.webp") !important;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		clip-path: polygon(100% 0%, 100% 54%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
	}
	.title {
		font-size: 1.7rem !important;
	}

	.listItem {
		line-height: 1.7rem;
		font-size: 1rem !important;

	}
	.text {
		font-size: 1.1rem !important;
		// text-align: center;

	}
  }

  @media (max-width: 768px) and (min-width: 576px)  {

	.title {
		font-size: 1.7rem !important;
	}
	.right {
		padding-left: 2rem;
		background-image: url("../assets/ctaImage.webp") !important;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		clip-path: polygon(100% 0%, 100% 54%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
	}
}

@media (max-width: 1200px) and (min-width: 992px)  {
	.headerTitle {
		font-size: 3.5rem !important;
	}

  }

  @media only screen and (max-width: 1600px) and (min-width: 1200px)  {
	.cta {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
  }
