.header {
  display: block;
  background-image: url("../assets/banner.png") !important;
  height: 100vh;
  width: 100%;
  background-position: center center;
  padding-top: calc(1rem + 50px);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 3rem;
  padding-right: 3rem;
}

.headerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-position: 85% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerTitle {
  font-size: 4rem !important;
  font-weight: 300 !important;
}

.headerTitle2 {
  color: white !important;
  font-weight: 300 !important;
  margin: 0 !important;
  margin-bottom: 2rem !important;
  font-size: 2rem !important;
}

.image {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 70%;
}

@media (max-width: 576px) {
  .headerTitle {
    font-size: 2rem !important;
    text-align: center;
  }
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .headerTitle2 {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .left {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image {
    -webkit-clip-path: circle(48% at 51% 50%);
            clip-path: circle(48% at 51% 50%);
    width: 10rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .headerTitle {
    font-size: 2.5rem !important;
  }
  .headerTitle2 {
    font-size: 1.7rem !important;
  }
  .left {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image {
    -webkit-clip-path: circle(48% at 51% 50%);
            clip-path: circle(48% at 51% 50%);
    width: 25%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .headerTitle {
    font-size: 2.5rem !important;
  }
  .headerTitle2 {
    font-size: 1.7rem !important;
  }
  .image {
    width: 80%;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .headerTitle {
    font-size: 3.5rem !important;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .image {
    width: 60%;
  }
  .headerTitle {
    font-size: 3.7rem !important;
  }
}
/*# sourceMappingURL=HeaderContainer.module.css.map */