

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-left: 3.2rem;
	padding-right: 3.2rem;
	position: fixed;
	z-index: 2;
	top: 0;
	height: 5rem;
}
.menuContainer, .menu {
	width: 100%;
	display: flex;
	justify-content: center;
}

.bgTransparent {
  background-color:rgba(49, 30, 37, 1);
  font-size: 15px !important;
}
.borderNone {
  border: none;
}
.activeLink {
	color: white !important;
}

@media (max-width: 576px) {
	.center {
		display: flex;
		justify-content: center;
	}

  }

