.projects {
	background-color: #311e25;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 3rem;
	padding-bottom: 1rem;
}
.project {
	margin-bottom: 4rem;
}
.mainTitle {
	margin-bottom: 3rem !important;
	font-size: 2rem !important;
}
.title {
	color: white !important;
	text-align: center;
	font-weight: 300 !important;
	margin-bottom: 3rem !important;

}

.left,.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.left{
	padding-right: 2rem;
}
.right{
	padding-left: 2rem;
}
.stackText {
	text-transform: capitalize;
	text-align: center;
	font-size: 1.2rem;
	margin: 1rem 0;
	color: white !important;
}
.descr {
	text-align: justify;
}

@media (max-width: 576px) {
	.projects {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.right,.left{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding:0;
	}
	.descr {
		text-align: center;
		margin-top: 2rem;
		font-size: 1.1rem;
	}
	.mainTitle {
		margin-bottom: 2rem !important;
		text-align: center;
		font-size: 1.7rem !important;
	}
	.title {
		margin-bottom: 2rem !important;
		font-size: 1.3rem !important;
		margin: 0 auto;
	}
  }
  @media (max-width: 768px) and (min-width: 576px)  {
	.right,.left{
		align-items: center;
		padding:0;
	}
	.mainTitle {
		margin-bottom: 2rem !important;
		text-align: center;
		font-size: 1.7rem !important;
	}
	.title {
		margin-bottom: 2rem !important;
		font-size: 1.4rem !important;
		margin: 0 auto;
	}
	.descr {
		font-size: 1.1rem;
		text-align: center;
		margin-top: 2rem;
	}
  }

  @media (max-width: 992px) and (min-width: 768px)  {
	.descr {
		font-size: 1.1rem;
		margin-top: 2rem;
		text-align: center;
	}
	.right,.left{
		align-items: center;
		padding:0;
	}
	.title {
		margin: 0 auto;
	}
  }

  @media only screen and (max-width: 1600px) and (min-width: 1200px)  {
	.project {
		margin-bottom: 6rem;
	}
	.descr {
		font-size: 1.2rem;
	}
  }
